spring:
#  datasource:
#    url: jdbc:h2:~/project
#    #jdbc:h2:tcp://localhost/~/project
#    driver-class-name: org.h2.Driver
#    username: sa
#    password:
#  h2:
#    console:
#      enabled: true
#      path: /h2-console
  datasource:
    url: jdbc:mysql://192.168.45.179:3306/easydent?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: easydent
    password: 1234
  application:
    name : easydent
  jpa:
    #11.29
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        storage_engine: innodb


    hibernate:
      ddl-auto: update
      format_sql : true
    show-sql: true
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: af5058c0258df5e867d46392ad1a04a3
            client-secret: xvfDCqfHvHf5rOhdivwcTAkSsHoMbwT6
            scope:
              - account_email
              - name
              - birthday
              - birthyear
              - phone_number
#            redirect-uri: "http://172.20.10.7:9090/login/oauth2/code/kakao"
            redirect-uri: "http://192.168.45.179:9090/login/oauth2/code/kakao"
            client-name: kakao
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
          google:
            client-id: 108781772937-v2e71m0ahkgefif0htsn05ba1u9aav0p.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: "http://localhost:9090/login/oauth2/code/google"
            scope:
              - email
              - profile
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
#11.18
jwt:
  secret: EasyDent
  redirect: "/home"
  access-token:
    expiration-time: 3600000
  refresh-token:
    expiration-time: 302400000



server:
  port: 9090


