/* Reset (초기화) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 공통 Body 스타일 */
body {
    font-family: 'Noto Sans', 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 공통 Wrapper */
.wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* 공통 Header 스타일 */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 600px;
    background-color: #5a91f7;
    color: white;
    text-align: center;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.header .back-button {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #9694FF;
    border: none;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none; /* 밑줄 제거 */
}
.header.back-button:hover {
    background-color: #9694FF;
}


/* 리스트 컨테이너 스타일 */
.container {
    width: 100%;
    max-width: 600px;
    margin: 88px auto 88px; /* 헤더와 푸터 사이에 균형 있는 공간 유지 */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 140px); /* 헤더(72px)와 푸터(68px) 제외 */
    overflow-y: auto;
}

/* 테이블 스타일 */
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table thead {
    background-color: #3591d3;
    color: white;
}

.table th,
.table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

/* 플로팅 버튼 */
.floating-btn {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #3591d3;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.floating-btn img {
    width: 24px;
    height: 24px;
}

/* 하단 네비게이션 */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.nav-item img {
    width: 28px;
    height: 28px;
}

.nav-item span {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}

.nav-item:hover span {
    color: #3591d3;
}
