<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 화면</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/reservation.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
<header class="header">
    복현로 35
</header>

<main class="main-content">
    <section class="reservation">
        <button class="reservation-btn" onclick="window.location.href='http://192.168.45.179:9090/reservation';">
            예약
        </button>
    </section>

    <section class="payment">
        <p>결제 수단 등록</p>
    </section>

    <section class="banner">
        <p>할인 및 이벤트 배너</p>
        <div class="pagination">1/23</div>
    </section>
</main>

<!--푸터 -->
<div th:replace="footer :: footer"></div>

</body>

</html>
