<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>치과 예약 시스템</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/reservation.css}">
</head>
<body>
<header>
    <button class="back-button" onclick="goBack()">뒤로가기</button>
    치과 예약 시스템
</header>
<div class="content">
    <div class="container active" id="reservation-section">
        <h1>치과 예약 검색</h1>
        <div style="display: flex; align-items: center; margin-bottom: 40px;">
            <input type="text" id="search" placeholder="치과 이름 혹은 진료명을 입력하세요.">
            <button id="search-button" onclick="searchDentistry()">검색</button>
        </div>
        <div id="reservation-list" class="list"></div>
    </div>

    <div class="container" id="dent-info-section">
        <h1 id="dent-name">치과 정보</h1>
        <p id="dent-address">주소: Example Address</p>
        <p id="dent-phone">전화번호: 010-1234-5678</p>
        <p id="dent-clinicTime">진료시간: 010-1234-5678</p>
        <p id="dent-lunchTime">점심시간: 010-1234-5678</p>
        <button onclick="goToAppointment()">예약 시간 선택</button>
    </div>

    <div class="container" id="appointment-section">
        <h1>예약자명: <input type="text"></h1>
        <h1>병원명 :</h1>
        <h1>예약 날짜 선택</h1>
        <input type="date" id="reservation-date" class="date-picker" min="" required>
        <h1>예약 시간 선택</h1>
        <div id="time-slots" class="time-grid"></div>
        <label for="content" class="form-label">현재 증상</label>
        <textarea id="content" name="content" rows="10" placeholder="현재 증상을 간단히 입력하세요."></textarea>
        <button id="confirm-button" onclick="confirmReservation()" disabled>예약 확정</button>
    </div>

</div>

<!--푸터 -->
<div th:replace="footer :: footer"></div>

<script th:src="@{/js/reservation.js}"></script>
</body>
</html>


