<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyDent Shop</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/shop.css}">
</head>
<body>
<header>EasyDent</header>

<div class="content">
    <div class="hero-section">EasyDent 추천 제품</div>
    <h2>추천 제품들</h2>
    <!-- 제품 목록이 동적으로 렌더링될 영역 -->
    <div id="product-list"></div>
</div>

<footer th:replace="footer :: footer"></footer>

<script th:src="@{/js/shop.js}"></script>
</body>
</html>
